.careerMain{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.divider{
    width: 220px;
    height: 3px;
    background-color: #2b2b2b;
    margin-bottom: 30px;
}

.careerMain a{
    text-decoration: none;
    color: black;
}

.careerMain h1{
    margin-bottom: 30px;
    text-align: center;
}

.careerMain h4{
    margin-top: 0px;
    margin-bottom: 10px;
}

.careerMain p{
    width: 40%;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 40px;
}

.lastP{
    margin-top: 40px;
}

.careerMain ul{
    margin: 0px;
    margin-bottom: 40px;
}

@media screen and (max-width:1280px){
    .careerMain p{
        width: 75%;
    }
    
}