.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #2b2b2b;
    color: aliceblue;
    padding: 20px 0;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    height: 3vh;
}

.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo, .contact, .pages{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    padding: 0;
}

.pages h4, .contact h4{
    text-transform: uppercase;
}

.pages a, .contact a{
    text-decoration: none;
    color: aliceblue;
}

.contact div, .copyright div{
    margin-right: 10px;
}

.cont{
    margin-bottom: 5px;
    display: flex;
}

.pagelink{
    display: flex;
    flex-direction: column;
}

.pagelink a{
    margin-bottom: 5px;
}