.navbar-desktop{
    display: flex;
    width: 100%;
    padding: 5px 0;
    background-color: #2b2b2b;
    margin-top: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.navbar-mobile{
    display: none;
}

.nav-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 600;
}

.nav-right a{
    text-decoration: none;
    color: aliceblue;
    padding: 0px 50px;
}

.borderLink{
    border-right: 2px solid aliceblue;
}

.nav-right a:after {
    content: '';
    display: block;
    padding-top: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
    
.nav-right a:hover:after {
    width: 100%;
    background: aliceblue;
}

.nav-left{
    width: 100%;
}

#logo{
    height: 7%;
    position: fixed;
    top: 5px;
    left: 20px;
}

@media screen and (max-width: 1000px){
    .navbar-desktop{
        display: none;
    }

    .navbar-mobile{
        height: 25px;
        display: flex;
        width: 100%;
        background-color: #2b2b2b;
        margin-top: 10px;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .nav-right{
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        height: auto;
        font-weight: 600;
    }

    .nav-right, .nav-left{
        width: 100%;
    }

    .hamburger{
        height: auto;
        width: 150px;
        text-align: right;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0px;
        background-color: #2b2b2b;
        border-bottom-left-radius: 5px;

    }

    .hamburger a{
        padding: 0;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        position: relative;
        right: 20px;
    }

    .hamburger a:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0; 
        padding-top: 3px;
        width: 0;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
        
    .hamburger a:hover:after {
        width: 40%;
        right: 0;
        background: aliceblue;
    }

    .nav-right svg{
        cursor: pointer;
        font-size: 1.5rem;
        margin: auto 20px;
        fill: aliceblue;
    }

    #logo{
        height: 50px;
    }
}

