.container-404{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pic404{
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: center;
}

.text404{
    text-transform: uppercase;
    height: 40vh;
    margin-top: 40px;
}