.projectMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.projectMain h1{
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.projectContainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.logoContainer h2{
    margin-top: 15px;
    margin-bottom: 50px;
}

.logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoContainer img{
    width: 200px;
}

.hide{
    opacity: 0;
    transition: all 0.5s ease;
}

.show{
    opacity: 1;
    transition: all 0.5s ease;
}

@media screen and (max-width:1220px) {
    .logoContainer img{
        width: 70%;
    }
}

@media screen and (max-width:880px) {

    .projectContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .logoContainer img{
        width: 60%;
    }
}

@media screen and (max-width:660px) {

    .projectContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:440px) {

    .projectContainer{
        grid-template-columns: 1fr;
    }

    .logoContainer img{
        width: 40%;
    }
}